# ------------------------------------------------------
# Python
# ------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / Packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Unit Tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Python cache
.mypy_cache/
.ruff_cache/

# Generated XML
dist/*.xml

# Local configuration
.env

# ------------------------------------------------------
# Keep folders
# ------------------------------------------------------
!dist/.gitkeep
!keywords/.gitkeep
!templates/.gitkeep
!tests/.gitkeep
