<?xml version="1.0" encoding="UTF-8"?>

<NotepadPlus>

    <UserLang
        name="ABAP S/4HANA 2023"
        ext="abap sap"
        udlVersion="2.1">

        <Settings>

            <Global
                caseIgnored="yes"
                allowFoldOfComments="yes"
                foldCompact="no"
                forcePureLC="0"
                decimalSeparator="0"/>

            <Prefix
                Keywords1="no"
                Keywords2="no"
                Keywords3="no"
                Keywords4="no"
                Keywords5="no"
                Keywords6="no"
                Keywords7="no"
                Keywords8="no"/>

        </Settings>

        <KeywordLists>

            <Keywords name="Comments">00&quot; 01 02 03/* 04*/</Keywords>

            <Keywords name="Numbers, prefix1"></Keywords>

            <Keywords name="Numbers, prefix2"></Keywords>

            <Keywords name="Numbers, extras1"></Keywords>

            <Keywords name="Numbers, extras2"></Keywords>

            <Keywords name="Numbers, suffix1"></Keywords>

            <Keywords name="Numbers, suffix2"></Keywords>

            <Keywords name="Numbers, range"></Keywords>

            <Keywords name="Operators1">

                = + - * / &lt; &gt; &lt;= &gt;= &lt;&gt; EQ NE GT LT GE LE AND OR NOT

            </Keywords>

            <Keywords name="Operators2"></Keywords>

            <Keywords name="Folders in code1"></Keywords>

            <Keywords name="Folders in code2"></Keywords>

            <Keywords name="Folders in comment"></Keywords>

            <Keywords name="Keywords1">

{{ keywords }}

            </Keywords>

            <Keywords name="Keywords2"></Keywords>

            <Keywords name="Keywords3"></Keywords>

            <Keywords name="Keywords4"></Keywords>

            <Keywords name="Keywords5"></Keywords>

            <Keywords name="Keywords6"></Keywords>

            <Keywords name="Keywords7"></Keywords>

            <Keywords name="Keywords8"></Keywords>

            <Keywords name="Delimiters">00&quot; 01 02&quot; 03' 04' 05` 06`</Keywords>

        </KeywordLists>

        <Styles>

        </Styles>

    </UserLang>

</NotepadPlus>